snippet if
  if (${1:true}) {
    ${0:${VISUAL}}
  }
endsnippet
snippet while "while  (...) {}"
  while (${1:true}){
    ${0:${VISUAL}}
  }
endsnippet
snippet for
  for (${1}; ${2}; ${3}){
    ${4}
  }
endsnippet
